/* You can add global styles to this file, and also import other style files */

$blackBackground: #111;
$whiteText: #fff;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: $blackBackground;
	color: $whiteText;
	font-family: 'segoe ui';
	text-decoration: none;
}

img {
	border-radius: 5px;
}